# https://docs.cilium.io/en/stable/operations/performance/tuning/

ipam:
  mode: kubernetes

hubble:
  relay:
    enabled: true
  ui:
    enabled: true

hostFirewall:
  enabled: true

kubeProxyReplacement: true

k8s:
  requireIPv4PodCIDR: true

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

operator:
  replicas: 2

cgroup:
  autoMount:
    enabled: true
  hostRoot: /sys/fs/cgroup

k8sServiceHost: localhost
k8sServicePort: "7445"

policyAuditMode: true # FIXME: Enable only for debugging
  
ipv4:
  enabled: true

mtu: 1350

gatewayAPI:
  enabled: true
  enableProxyProtocol: false
  enableAlpn: true
  enableAppProtocol: true