apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cilium
    version: "1.19.1"
    releaseName: cilium
    namespace: kube-system
    valuesFile: helm-values.yaml
    repo: https://helm.cilium.io/
