apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/kubernetes-sigs/gateway-api/config/crd?ref=v1.4.0
  - gateway-api/certificates
  - gateway-api/shared-gateway.yaml

helmCharts:
  - name: cilium
    version: "1.18.4"
    releaseName: cilium
    namespace: kube-system
    valuesFile: helm-values.yaml
    repo: https://helm.cilium.io/