apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: n8n 

resources:
  - configuration.yaml
  - database.yaml
  - deployment.yaml
  - ingress.yaml
  - namespace.yaml
  - secret.yaml
  - service.yaml
  - serviceaccount.yaml

images:
  - name: n8nio/n8n
    newTag: 1.121.2@sha256:50f1b188e0398c409eab52a530cac79c5b477d1d30e8e972ed73935e5eaeacfd