apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: n8n 

resources:
  - configuration.yaml
  - database.yaml
  - deployment.yaml
  - ingress.yaml
  - namespace.yaml
  - secret.yaml
  - service.yaml
  - serviceaccount.yaml

images:
  - name: n8nio/n8n
    newTag: 1.119.0@sha256:8f6834c399b5a764d5b0165db5d52d757652edb8f6b938b30b0cdf70fdfd3df1