apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: geoip-data
  namespace: victorialogs
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Mi
  storageClassName: longhorn
