apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: victorialogs

resources:
  - namespace.yaml
  - vector-podscrape.yaml

helmCharts:
  - name: victoria-logs-single
    version: "0.11.26"
    releaseName: vl
    namespace: victorialogs
    valuesFile: helm-values.yaml
    includeCRDs: true
    repo: https://victoriametrics.github.io/helm-charts/
