apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: victorialogs

resources:
  - namespace.yaml
  - vector-podscrape.yaml
  - secrets.yaml
  - geoip-pvc.yaml
  - geoip-updater-cronjob.yaml

helmCharts:
  - name: victoria-logs-single
    version: "0.11.18"
    releaseName: vl
    namespace: victorialogs
    valuesFile: helm-values.yaml
    includeCRDs: true
    repo: https://victoriametrics.github.io/helm-charts/