# BRINGUP
export HCLOUD_TOKEN=""
export TF_VAR_hcloud_token="${HCLOUD_TOKEN}"
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_REQUEST_CHECKSUM_CALCULATION="when_required"
export AWS_RESPONSE_CHECKSUM_VALIDATION="when_required"

# OPERATIONS
export KUBECONFIG="/Users/jorijn/Development/tc/kubeconfig.yaml"
export TALOSCONFIG="/Users/jorijn/Development/tc/talosconfig"
