export HCLOUD_TOKEN="PtgqmVbY0N22RZxDrakMWbPoVrcADqpCWXkBNA8hzXu6A39nHcF51LjictrnlBnQ"
export TF_VAR_hcloud_token="${HCLOUD_TOKEN}"
export TF_VAR_image_id=""

export KUBECONFIG="/Users/jorijn/Development/mastodon-cluster/kubeconfig.yaml"
