# Hetzner Cloud provider authentication
# export HCLOUD_TOKEN=""

# Hetzner Cloud token passed as TF variable to Talos VIP controller
# export TF_VAR_hcloud_token=""

# Cloudflare provider authentication
# export CLOUDFLARE_API_TOKEN=""

# R2 state backend credentials (S3-compatible)
# export AWS_ACCESS_KEY_ID=""
# export AWS_SECRET_ACCESS_KEY=""

# Vault
# export VAULT_ADDR=""
# export VAULT_TOKEN=""
