apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cloudflared-admin
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudflare-tunnel
      app.kubernetes.io/instance: cloudflared-admin
