apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudflare

helmGlobals:
  chartHome: ../../../charts

resources:
  - namespace.yaml
  - cloudflared-public-pdb.yaml
  - cloudflared-public-secret.yaml
  - cloudflared-private-pdb.yaml
  - cloudflared-private-secret.yaml

helmCharts:
  - name: cloudflare-tunnel-remote
    version: "0.0.0"
    releaseName: cloudflared-public
    namespace: cloudflare
    valuesFile: helm-values-public.yaml
  - name: cloudflare-tunnel-remote
    version: "0.0.0"
    releaseName: cloudflared-private
    namespace: cloudflare
    valuesFile: helm-values-private.yaml

# patches:
#   # - path: patches/cloudflared-public-topology.yaml
#   # - path: patches/cloudflared-private-topology.yaml
#   - target:
#       kind: Deployment
#       name: cloudflared-public
#     patch: |-
#       - op: add
#         path: /spec/template/spec/containers/0/args/-
#         value: --protocol
#       - op: add
#         path: /spec/template/spec/containers/0/args/-
#         value: http2
#   - target:
#       kind: Deployment
#       name: cloudflared-private
#     patch: |-
#       - op: add
#         path: /spec/template/spec/containers/0/args/-
#         value: --protocol
#       - op: add
#         path: /spec/template/spec/containers/0/args/-
#         value: http2

images:
  - name: cloudflare/cloudflared
    newTag: "2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c"
