.instanceDomain: &instanceDomain microblog.network
.streamingDomain: &streamingDomain streaming.microblog.network
.staticDomain: &staticDomain static.microblog.network

debug:
  enabled: false

mastodon:
  localDomain: *instanceDomain
  limitedFederationMode: true
  authorizedFetch: false
  extraEnv: {}
    # OTEL_RUBY_INSTRUMENTATION_PG_ENABLED: "false"

s3:
  endpoint: https://36imo.upcloudobjects.com
  hostname: 36imo.upcloudobjects.com
  region: auto
  aliasHost: *staticDomain
  bucket: microblog-network-assets

smtp:
  domain: *instanceDomain
  fromAddress: microblog.network Notifications <support@microblog.network>
  server: email-smtp.eu-west-1.amazonaws.com

observability:
  otel:
    enabled: false
    namePrefix: microblog-network

web:
  replicas: 3
  podDisruptionBudget:
    enabled: false
  autoscaling:
    keda:
      enabled: true
      minReplicaCount: 3
      maxReplicaCount: 10
      pollingInterval: 15

streaming:
  baseUrl: wss://streaming.microblog.network
  replicas: 3

ingress:
  web:
    host: *instanceDomain
    tls:
      - hosts:
          - *instanceDomain
        secretName: ingress-web-tls
  streaming:
    host: *streamingDomain
    tls:
      - hosts:
          - *streamingDomain
        secretName: ingress-streaming-tls

s3Gateway:
  ingress:
    host: *staticDomain
    tls:
      - hosts:
          - *staticDomain
        secretName: ingress-static-tls
