backend:
  host: microblog-network-assets.36imo.upcloudobjects.com
  port: 443

volumes:
  - name: varnish-storage
    emptyDir:
      sizeLimit: 6Gi  # 5G file + overhead
  - name: varnish-workdir
    emptyDir: {}

volumeMounts:
  - name: varnish-storage
    mountPath: /var/cache/varnish
  - name: varnish-workdir
    mountPath: /var/lib/varnish

resources:
  requests:
    ephemeral-storage: 6Gi  # Request disk space for scheduling
  limits:
    ephemeral-storage: 7Gi  # Limit with overhead

ingress:
  enabled: false
      
replicaCount: 1
