apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: loki

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configuration.yaml
  - deployment.yaml
  - service.yaml
  - database.yaml
  - secrets.yaml

images:
  - name: ghcr.io/jorijn/loki-v3
    newTag: main
