.instanceDomain: &instanceDomain toot.community
.streamingDomain: &streamingDomain streaming.toot.community
.staticDomain: &staticDomain static.toot.community

debug: false

configuration:
  localDomain: *instanceDomain
  limitedFederationMode: false
  authorizedFetch: false

  s3:
    endpoint: https://36imo.upcloudobjects.com
    hostname: 36imo.upcloudobjects.com
    region: auto
    aliasHost: *staticDomain
    bucket: toot-community-assets
    
  smtp:
    domain: *instanceDomain
    fromAddress: toot.community Notifications <support@toot.community>
    smtpServer: mail.jorijn.com
    
  search:
    enabled: true
    preset: small_cluster
  
  databaseReplicas:
    enabled: true
    
  otel:
    enabled: true
    namePrefix: toot-community
    
  extraConfiguration:
    OTEL_RUBY_INSTRUMENTATION_PG_ENABLED: "false"

web:
  domain: *instanceDomain
  replicaCount: 6
  resources:
    requests:
      cpu: 683m
      memory: 4Gi
    limits:
      memory: 8Gi
  
streaming:
  baseURL: wss://streaming.toot.community
  replicaCount: 3
  resources:
    requests:
      cpu: 21m
      memory: 100Mi
    limits:
      memory: 100Mi
  
ingress:
  web:
    host: *instanceDomain
    tls:
      - hosts:
          - *instanceDomain
        secretName: ingress-web-tls
  streaming:
    host: *streamingDomain
    tls:
      - hosts:
          - *streamingDomain
        secretName: ingress-streaming-tls

sidekiq:
  workers:
    - name: generic
      concurrency: 25
      replicaCount: 10
      queues:
        - default
        - mailers
        - push
        - ingress
        - fasp
        - pull
      resources:
        requests:
          cpu: 1111m
          memory: 4Gi
        limits:
          memory: 8Gi
    - name: scheduler
      concurrency: 25
      replicaCount: 1
      queues:
        - scheduler
      resources:
        requests:
          cpu: 317m
          memory: 1Gi
        limits:
          memory: 2Gi
          
jobs:
  removePreviewCards:
    resources:
      requests:
        cpu: 1201m
        memory: 643Mi
      limits:
        memory: 643Mi
    days: 30
  cleanupMedia:
    resources:
      requests:
        cpu: 1221m
        memory: 665Mi
      limits:
        memory: 665Mi
  cleanupMediaProfiles:
    resources:
      requests:
        cpu: 1757m
        memory: 510Mi
      limits:
        memory: 510Mi