.instanceDomain: &instanceDomain toot.community
.streamingDomain: &streamingDomain streaming.toot.community
.staticDomain: &staticDomain static.toot.community

debug:
  enabled: false

mastodon:
  localDomain: *instanceDomain
  limitedFederationMode: false
  authorizedFetch: false
  extraEnv: {}
    # OTEL_RUBY_INSTRUMENTATION_PG_ENABLED: "false"

s3:
  endpoint: https://36imo.upcloudobjects.com
  hostname: 36imo.upcloudobjects.com
  region: auto
  aliasHost: *staticDomain
  bucket: toot-community-assets

smtp:
  domain: *instanceDomain
  fromAddress: toot.community Notifications <support@toot.community>
  server: email-smtp.eu-west-1.amazonaws.com

search:
  enabled: true
  preset: small_cluster

database:
  replica:
    enabled: true

observability:
  otel:
    enabled: false
    namePrefix: toot-community

web:
  replicas: 4
  resources:
    requests:
      cpu: 683m
      memory: 4Gi
    limits:
      memory: 8Gi
  autoscaling:
    keda:
      enabled: true
      minReplicaCount: 6
      maxReplicaCount: 40

streaming:
  baseUrl: wss://streaming.toot.community
  replicas: 3
  resources:
    requests:
      cpu: 21m
      memory: 100Mi
    limits:
      memory: 100Mi

ingress:
  web:
    host: *instanceDomain
    tls:
      - hosts:
          - *instanceDomain
        secretName: ingress-web-tls
  streaming:
    host: *streamingDomain
    tls:
      - hosts:
          - *streamingDomain
        secretName: ingress-streaming-tls

sidekiq:
  autoscaling:
    keda:
      enabled: true
  workers:
    - name: default
      concurrency: 25
      replicas: 5
      queues:
        - default
      autoscaling:
        keda:
          enabled: true
          preset: default
          minReplicaCount: 5
          maxReplicaCount: 25
      resources:
        requests:
          cpu: 1111m
          memory: 4Gi
        limits:
          memory: 8Gi

    - name: federation
      concurrency: 25
      replicas: 3
      queues:
        - push
        - ingress
        - fasp
      autoscaling:
        keda:
          enabled: true
          preset: federation
          minReplicaCount: 3
          maxReplicaCount: 20
      resources:
        requests:
          cpu: 1111m
          memory: 4Gi
        limits:
          memory: 8Gi

    - name: pull
      concurrency: 25
      replicas: 1
      queues:
        - pull
      autoscaling:
        keda:
          enabled: true
          preset: pull
          cooldownPeriod: 600
          minReplicaCount: 1
          maxReplicaCount: 15
      resources:
        requests:
          cpu: 1111m
          memory: 4Gi
        limits:
          memory: 8Gi

    - name: mailers
      concurrency: 25
      replicas: 1
      queues:
        - mailers
      autoscaling:
        keda:
          enabled: true
          preset: mailers
          cooldownPeriod: 600
          minReplicaCount: 1
          maxReplicaCount: 5
      resources:
        requests:
          cpu: 1111m
          memory: 4Gi
        limits:
          memory: 8Gi

    - name: scheduler
      concurrency: 25
      replicas: 1
      queues:
        - scheduler
      resources:
        requests:
          cpu: 317m
          memory: 1Gi
        limits:
          memory: 2Gi

jobs:
  removePreviewCards:
    resources:
      requests:
        cpu: 1201m
        memory: 643Mi
      limits:
        memory: 643Mi
    days: 30
  cleanupMedia:
    resources:
      requests:
        cpu: 1221m
        memory: 665Mi
      limits:
        memory: 665Mi
  cleanupMediaProfiles:
    resources:
      requests:
        cpu: 1757m
        memory: 510Mi
      limits:
        memory: 510Mi
