apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cloudflare-tunnel-remote.fullname" . }}
  labels:
    {{- include "cloudflare-tunnel-remote.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      pod: cloudflared
  template:
    metadata:
      creationTimestamp: null
      annotations:
        # Roll the deployment when the secret reference changes.
        checksum/secret: {{ printf "%s/%s" (required "cloudflare.tunnelTokenSecretName is required" .Values.cloudflare.tunnelTokenSecretName) (.Values.cloudflare.tunnelTokenSecretKey | default "token") | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        pod: cloudflared
        {{- include "cloudflare-tunnel-remote.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "cloudflare-tunnel-remote.fullname" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: cloudflared
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default "latest" }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- with .Values.securityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        command:
          - cloudflared
          - tunnel
          # We can regulate the cloudflared version via an image tag.
          - --no-autoupdate
          # In a k8s environment, the metrics server needs to listen outside the pod it runs on.
          # The address 0.0.0.0:<metrics-port> allows any pod in the namespace.
          - --metrics
          - 0.0.0.0:{{ .Values.metrics.port }}
          - run
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ required "cloudflare.tunnelTokenSecretName is required" .Values.cloudflare.tunnelTokenSecretName }}
              key: {{ .Values.cloudflare.tunnelTokenSecretKey | default "token" }}
        ports:
        - name: metrics
          containerPort: {{ .Values.metrics.port }}
          protocol: TCP
        livenessProbe:
          httpGet:
            # Cloudflared has a /ready endpoint which returns 200 if and only if
            # it has an active connection to the edge.
            path: /ready
            port: {{ .Values.metrics.port }}
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
