apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: &namespace microblog-network

helmGlobals:
  chartHome: ../../../../../charts
  
resources:
  - ../../base
  - secrets.yaml

helmCharts:
  - name: redis-ha
    valuesFile: ../../base/helm-values/redis-ha.yaml
    additionalValuesFiles:
      - helm-values/redis-ha.yaml
    releaseName: redis-ha
    version: 4.35.2
    namespace: *namespace
    repo: https://dandydeveloper.github.io/charts
  - name: mastodon
    version: "0.0.0"
    releaseName: mastodon
    namespace: *namespace
    valuesFile: ../../base/helm-values/mastodon.yaml
    additionalValuesFiles:
      - helm-values/mastodon.yaml
  - name: varnish
    version: "0.0.0"
    releaseName: varnish-for-static
    namespace: *namespace
    valuesFile: ../../base/helm-values/varnish-for-static.yaml
    additionalValuesFiles:
      - helm-values/varnish-for-static.yaml
  - name: varnish
    version: "0.0.0"
    releaseName: varnish-for-app
    namespace: *namespace
    valuesFile: ../../base/helm-values/varnish-for-app.yaml
    additionalValuesFiles:
      - helm-values/varnish-for-app.yaml

images:
  - name: ghcr.io/mastodon/mastodon
    newTag: "v4.5.0-rc.3@sha256:00b9d24547a059748de7b96170720e8cfc9007fc508ff4bcacb4fbaab51be42a"
  - name: ghcr.io/mastodon/mastodon-streaming
    newTag: "v4.5.0-rc.3@sha256:bf4b9fe8bde960c16052c5f4250d209a11ac788802696a6ecd4faf9fc7d4a36e"
  - name: varnish
    newTag: "8.0.0@sha256:7fd680efe5f209a5a4a20373b59add5b1a35f175ba9fa0e31a82e0a87094ada5"
    
patches:
  - path: database-cluster.yaml