apiVersion: operator.victoriametrics.com/v1beta1
kind: VMRule
metadata:
  name: mastodon-puma-recording
spec:
  groups:
    - name: mastodon.puma.recording
      interval: 30s
      rules:
        - record: mastodon:puma_running_threads:sum
          expr: sum by (job, namespace) (ruby_puma_running_threads{job=~".*/mastodon-web"})
        - record: mastodon:puma_max_threads:sum
          expr: sum by (job, namespace) (ruby_puma_max_threads{job=~".*/mastodon-web"})
        - record: mastodon:puma_thread_pool_capacity:sum
          expr: sum by (job, namespace) (ruby_puma_thread_pool_capacity{job=~".*/mastodon-web"})
        - record: mastodon:puma_utilization
          expr: |
            (
              (mastodon:puma_running_threads:sum / clamp_min(mastodon:puma_max_threads:sum, 1))
              +
              (1 - (mastodon:puma_thread_pool_capacity:sum / clamp_min(mastodon:puma_max_threads:sum, 1)))
            ) / 2
            * on(job, namespace) (mastodon:puma_max_threads:sum > 0)
