apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: eck-operator
    valuesFile: helm-values.yaml
    releaseName: eck-operator
    namespace: elastic-system
    version: 3.3.0
    includeCRDs: true
    repo: https://helm.elastic.co
