apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keda

resources:
  - namespace.yaml

helmCharts:
  - name: keda
    version: "2.18.1"
    releaseName: keda
    namespace: keda
    repo: https://kedacore.github.io/charts
    valuesFile: helm-values.yaml
    includeCRDs: true
