apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: keda
    version: "2.18.1"
    releaseName: keda
    namespace: keda
    repo: https://kedacore.github.io/charts
    valuesFile: helm-values.yaml
    includeCRDs: true

patches:
- patch: |-
    - op: replace
      path: /metadata/namespace
      value: kube-system
  target:
    kind: RoleBinding
    name: keda-operator-auth-reader
    version: v1
    group: rbac.authorization.k8s.io