{{- if .Values.debug.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "mastodon.labels" . | nindent 4 }}
    app: {{ include "mastodon.fullname" . }}-debug
    version: {{ .Chart.AppVersion | quote }}
  name: {{ include "mastodon.fullname" . }}-debug
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "mastodon.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: debug
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configuration.yaml") . | sha256sum }}
        {{- with .Values.global.podDefaults.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "mastodon.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: debug
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - command:
            - bash
            - -c
            - while true; do sleep 30; done
          env:
            - name: PORT
              value: {{ .Values.web.port | quote }}
            {{- include "mastodon.commonEnv" . | nindent 12 }}
          envFrom:
            {{- include "mastodon.commonEnvFrom" . | nindent 12 }}
          image: "{{ include "mastodon.imageRepository" (dict "component" .Values.web "global" .Values.global "default" "ghcr.io/mastodon/mastodon") }}:{{ include "mastodon.imageTag" (dict "component" .Values.web "global" .Values.global "Chart" .Chart) }}"
          imagePullPolicy: {{ include "mastodon.imagePullPolicy" (dict "component" .Values.web "global" .Values.global) }}
          name: debug
          securityContext:
            {{- toYaml .Values.global.podDefaults.securityContext | nindent 12 }}
      restartPolicy: Always
      securityContext:
        {{- toYaml .Values.global.podDefaults.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "mastodon.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.global.podDefaults.terminationGracePeriodSeconds }}
{{- end -}}
