{{- $context := . }}
{{- range .Values.sidekiq.workers }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "mastodon.labels" $context | nindent 4 }}
    app: {{ include "mastodon.fullname" $context }}-sidekiq-{{ .name }}
    version: {{ $context.Chart.AppVersion | quote }}
  name: {{ include "mastodon.fullname" $context }}-sidekiq-{{ .name }}
spec:
  selector:
    matchLabels:
      {{- include "mastodon.selectorLabels" $context | nindent 6 }}
      app.kubernetes.io/component: sidekiq-{{ .name }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  {{- if .replicaCount }}
  replicas: {{ .replicaCount }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "mastodon.selectorLabels" $context | nindent 8 }}
        app.kubernetes.io/component: sidekiq-{{ .name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configuration.yaml") $context | sha256sum }}
    spec:
      {{- if $context.Values.sidekiq.nodeSelector }}
      nodeSelector:
        {{- toYaml $context.Values.sidekiq.nodeSelector | nindent 8 }}
      {{- end }}
      {{- with $context.Values.sidekiq.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - command:
            - bundle
            - exec
            - sidekiq
            {{- range .queues }}
            - -q
            - {{ . | quote }}
            {{- end }}
            - -c
            - {{ .concurrency | quote }}
          envFrom:
            {{- include "mastodon.commonEnvFrom" $context | nindent 12 }}
          env:
            - name: DB_POOL
              value: {{ .concurrency | quote }}
            {{- if $context.Values.metrics.enabled }}
            - name: MASTODON_PROMETHEUS_EXPORTER_ENABLED
              value: "true"
            - name: MASTODON_PROMETHEUS_EXPORTER_LOCAL
              value: "true"
            - name: MASTODON_PROMETHEUS_EXPORTER_HOST
              value: "0.0.0.0"
            - name: MASTODON_PROMETHEUS_EXPORTER_PORT
              value: "{{ $context.Values.metrics.port }}"
            {{- end }}
            {{- include "mastodon.commonEnv" $context | nindent 12 }}
          image: "{{ $context.Values.image.repository }}:{{ $context.Values.image.tag | default $context.Chart.AppVersion }}"
          imagePullPolicy: {{ $context.Values.image.pullPolicy }}
          name: mastodon
          resources:
            {{- toYaml .resources | nindent 12 }}
          securityContext:
            {{- toYaml $context.Values.securityContext | nindent 12 }}
          {{- if $context.Values.metrics.enabled }}
          ports:
            - name: prometheus
              containerPort: {{ $context.Values.metrics.port }}
          {{- end }}
      restartPolicy: Always
      {{- with $context.Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "mastodon.serviceAccountName" $context }}
      terminationGracePeriodSeconds: {{ $context.Values.terminationGracePeriodSeconds }}
{{- end }}
