apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "mastodon.labels" . | nindent 4 }}
    app: {{ include "mastodon.fullname" . }}-web
    version: {{ .Chart.AppVersion | quote }}
  {{- with .Values.web.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ include "mastodon.fullname" . }}-web
spec:
  {{- if not .Values.web.autoscaling.keda.enabled }}
  replicas: {{ .Values.web.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mastodon.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: web
  strategy:
    {{- toYaml .Values.web.strategy | nindent 4 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configuration.yaml") . | sha256sum }}
        {{- with .Values.global.podDefaults.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "mastodon.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: web
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - command:
            - bundle
            - exec
            - puma
            - -C
            - config/puma.rb
          envFrom:
            {{- include "mastodon.commonEnvFrom" . | nindent 12 }}
          env:
            - name: PORT
              value: {{ .Values.web.port | quote }}
            {{- include "mastodon.commonEnv" . | nindent 12 }}
          image: "{{ include "mastodon.imageRepository" (dict "component" .Values.web "global" .Values.global "default" "ghcr.io/mastodon/mastodon") }}:{{ include "mastodon.imageTag" (dict "component" .Values.web "global" .Values.global "Chart" .Chart) }}"
          imagePullPolicy: {{ include "mastodon.imagePullPolicy" (dict "component" .Values.web "global" .Values.global) }}
          name: web
          ports:
            - containerPort: {{ .Values.web.port }}
              name: http
              protocol: TCP
          {{- with .Values.web.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.web.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.web.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.web.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.global.podDefaults.securityContext | nindent 12 }}
        {{- if .Values.observability.metrics.enabled }}
        - name: prometheus-exporter
          image: "{{ include "mastodon.imageRepository" (dict "component" .Values.web "global" .Values.global "default" "ghcr.io/mastodon/mastodon") }}:{{ include "mastodon.imageTag" (dict "component" .Values.web "global" .Values.global "Chart" .Chart) }}"
          command:
            - ./bin/prometheus_exporter
          args:
            - "--bind"
            - "0.0.0.0"
            - "--port"
            - "{{ .Values.observability.metrics.port }}"
          {{- with .Values.observability.metrics.web.exporter.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.global.podDefaults.securityContext | nindent 12 }}
          ports:
            - name: prometheus
              containerPort: {{ .Values.observability.metrics.port }}
        {{- end }}
      restartPolicy: Always
      securityContext:
        {{- toYaml .Values.global.podDefaults.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "mastodon.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.global.podDefaults.terminationGracePeriodSeconds }}
      {{- with .Values.web.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
