apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "mastodon.labels" . | nindent 4 }}
    app: {{ include "mastodon.fullname" . }}-streaming
    version: {{ .Chart.AppVersion | quote }}
  {{- with .Values.streaming.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ include "mastodon.fullname" . }}-streaming
spec:
  replicas: {{ .Values.streaming.replicas }}
  selector:
    matchLabels:
      {{- include "mastodon.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: streaming
  strategy:
    {{- toYaml .Values.streaming.strategy | nindent 4 }}
  template:
    metadata:
      labels:
        {{- include "mastodon.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: streaming
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configuration.yaml") . | sha256sum }}
        {{- with .Values.global.podDefaults.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - command:
          - node
          - ./streaming
          env:
            {{- if .Values.database.replica.enabled }}
            - name: DB_HOST
              value: {{ .Values.database.replica.host }}
            {{- end }}
            {{- if .Values.redis.url }}
            - name: REDIS_URL
              value: {{ .Values.redis.url }}
            - name: REDIS_HOST
              value: empty
            - name: REDIS_PORT
              value: empty
            {{- end }}
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: {{ .Values.database.credentials.usernameKey }}
                  name: {{ .Values.database.credentials.secretName }}
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: {{ .Values.database.credentials.passwordKey }}
                  name: {{ .Values.database.credentials.secretName }}
            - name: PORT
              value: {{ .Values.streaming.port | quote }}
            - name: DB_SSLMODE
              value: {{ .Values.streaming.databaseSslMode | quote }}
          envFrom:
            - configMapRef:
                name: {{ include "mastodon.fullname" . }}-env
          image: "{{ .Values.streaming.image.repository }}:{{ .Values.streaming.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.streaming.image.pullPolicy }}
          name: streaming
          ports:
            - containerPort: {{ .Values.streaming.port }}
              name: streaming
              protocol: TCP
          readinessProbe:
            {{- toYaml .Values.streaming.readinessProbe | nindent 12 }}
          startupProbe:
            {{- toYaml .Values.streaming.startupProbe | nindent 12 }}
          {{- with .Values.streaming.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.streaming.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.global.podDefaults.securityContext | nindent 12 }}
      restartPolicy: Always
      securityContext:
        {{- toYaml .Values.global.podDefaults.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "mastodon.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.global.podDefaults.terminationGracePeriodSeconds }}
      {{- with .Values.streaming.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.streaming.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.streaming.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
