{{- if and .Values.ingress.web.enabled .Values.ingress.web.wwwRedirect.enabled -}}
{{- $fullName := include "mastodon.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    {{- if .Values.ingress.web.annotations }}
    {{- toYaml .Values.ingress.web.annotations | nindent 4 }}
    {{- end }}
    nginx.ingress.kubernetes.io/permanent-redirect: https://{{ .Values.ingress.web.host }}
  labels:
    {{- include "mastodon.labels" . | nindent 4 }}
  name: {{ $fullName }}-web-www-redirect
spec:
  ingressClassName: {{ .Values.ingress.web.ingressClassName }}
  rules:
    - host: www.{{ .Values.ingress.web.host }}
      http:
        paths:
          - backend:
              service:
                {{- if .Values.ingress.web.serviceNameOverride }}
                name: {{ .Values.ingress.web.serviceNameOverride }}
                {{- else }}
                name: {{ include "mastodon.fullname" . }}-web
                {{- end }}
                port:
                  {{- if .Values.ingress.web.servicePortOverride }}
                  number: {{ .Values.ingress.web.servicePortOverride }}
                  {{- else }}
                  number: {{ .Values.web.port }}
                  {{- end }}
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - "www.{{ .Values.ingress.web.host }}"
      secretName: "www-{{ (first .Values.ingress.web.tls).secretName }}"
{{ end }}
