apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-ha-haproxy
spec:
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: redis-ha-haproxy
                    release: redis-ha
                topologyKey: kubernetes.io/hostname
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: redis-ha-haproxy
                topologyKey: kubernetes.io/hostname
          requiredDuringSchedulingIgnoredDuringExecution: null
