apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflared
  namespace: argocd
spec:
  destination:
    namespace: cloudflare
    server: https://kubernetes.default.svc
  project: default
  source:
    path: manifests/applications/cloudflared
    repoURL: git@github.com:toot-community/platform.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - ServerSideApply=true
