apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: crowdsec
  namespace: argocd
spec:
  destination:
    namespace: crowdsec
    server: https://kubernetes.default.svc
  project: default
  source:
    path: manifests/applications/crowdsec
    repoURL: git@github.com:toot-community/platform.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
  ignoreDifferences:
    - group: ""
      kind: Secret
      name: crowdsec-lapi-secrets
      jsonPointers:
        - /data/csLapiSecret
        - /data/registrationToken
