apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vpa-resources
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  source:
    path: manifests/applications/vpa-resources
    repoURL: git@github.com:toot-community/platform.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
