apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: op-connect

resources:
  - namespace.yaml

helmCharts:
  - name: connect
    version: "2.2.1"
    releaseName: connect
    namespace: kube-system
    includeCRDs: true
    valuesFile: helm-values.yaml
    repo: https://1password.github.io/connect-helm-charts/
