# Disable Traefik's Ingress controller
providers:
  kubernetesIngress:
    enabled: true
  kubernetesCRD:
    enabled: true
  kubernetesGateway:
    enabled: true

ingressClass:
  enabled: true
  isDefaultClass: false

# Allow Gateways in any namespace to be managed by this controller
gateway:
  enabled: false

logs:
  general:
    format: json
    level: INFO
  access:
    enabled: true
    format: json
    fields:
      headers:
        names:
          User-Agent: keep

metrics:
  prometheus:
    disableAPICheck: true # doesn't work with kustomize Helm inflators
    buckets: 0.05,0.1,0.2,0.3,0.5,1,2,5,10
    service:
      enabled: true
    serviceMonitor:
      enabled: true

global:
  sendAnonymousUsage: true

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
    proxyProtocol:
      trustedIPs:
        - 10.0.0.0/8
  websecure:  
    proxyProtocol:
      trustedIPs:
        - 10.0.0.0/8

deployment:
  replicas: 3

volumes:
  - name: traefik-secrets
    type: secret
    mountPath: /etc/traefik/secrets
  
service:
  annotations:
    load-balancer.hetzner.cloud/name: lb-traefik-gateway
    load-balancer.hetzner.cloud/use-private-ip: "true"
    load-balancer.hetzner.cloud/protocol: tcp
    load-balancer.hetzner.cloud/algorithm-type: round_robin
    load-balancer.hetzner.cloud/type: lb11
    load-balancer.hetzner.cloud/location: fsn1
    load-balancer.hetzner.cloud/uses-proxyprotocol: "true"

ingressRoute:
  dashboard:
    enabled: true
  healthcheck:
    enabled: true

resources:
  requests:
    cpu: 256m
    memory: 750Mi
  limits:
    memory: 4Gi

experimental:
  abortOnPluginFailure: true
  plugins:
    crowdsec-bouncer:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.4.6"
