apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared-public
spec:
  template:
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: cloudflare-tunnel
              app.kubernetes.io/instance: cloudflared-public
