apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - clusterissuer-letsencrypt-http.yaml
  - clusterissuer-letsencrypt-route53.yaml

helmCharts:
  - repo: https://charts.jetstack.io
    version: v1.19.2
    name: cert-manager
    namespace: cert-manager
    releaseName: cert-manager
    includeCRDs: true
    valuesFile: helm-values-cert-manager.yaml
