apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: oidc-issuer

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - rbac.yaml
