apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: &namespace haproxy-onload
  
resources: []

helmCharts:
  - name: haproxy
    version: "1.27.0"
    releaseName: haproxy-onload
    namespace: *namespace
    valuesFile: helm-values.yaml
    repo: https://haproxytech.github.io/helm-charts
