apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: shared
  namespace: kube-system
spec:
  gatewayClassName: cilium
  
  infrastructure:
    annotations:
      load-balancer.hetzner.cloud/name: lb-cilium-gateway
      load-balancer.hetzner.cloud/use-private-ip: "true"
      load-balancer.hetzner.cloud/protocol: tcp
      load-balancer.hetzner.cloud/algorithm-type: round_robin
      load-balancer.hetzner.cloud/type: lb11
      load-balancer.hetzner.cloud/location: fsn1
      load-balancer.hetzner.cloud/uses-proxyprotocol: "true"

  listeners: []
  # - protocol: HTTP
  #   hostname: toot.community
  #   port: 80
  #   name: toot-community-http
  #   allowedRoutes:
  #     namespaces:
  #       from: All
