updateMode: "InPlaceOrRecreate"

vpas:
  # argocd
  - name: argocd-applicationset-controller-vpa
    namespace: argocd
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: argocd-applicationset-controller
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: argocd-dex-server-vpa
    namespace: argocd
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: argocd-dex-server
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: argocd-notifications-controller-vpa
    namespace: argocd
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: argocd-notifications-controller
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: argocd-repo-server-vpa
    namespace: argocd
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: argocd-repo-server
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: argocd-server-vpa
    namespace: argocd
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: argocd-server
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: argocd-application-controller-vpa
    namespace: argocd
    targetRef:
      apiVersion: apps/v1
      kind: StatefulSet
      name: argocd-application-controller
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # cert-manager
  - name: cert-manager-vpa
    namespace: cert-manager
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: cert-manager
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: cert-manager-cainjector-vpa
    namespace: cert-manager
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: cert-manager-cainjector
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: cert-manager-webhook-vpa
    namespace: cert-manager
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: cert-manager-webhook
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: cert-manager-startupapicheck-vpa
    namespace: cert-manager
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: cert-manager-startupapicheck
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # cilium
  - name: cilium-operator-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: cilium-operator
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: hubble-relay-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: hubble-relay
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: hubble-ui-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: hubble-ui
    resourcePolicy:
      containerPolicies:
        - containerName: frontend
        - containerName: backend
  - name: cilium-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: DaemonSet
      name: cilium
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: cilium-envoy-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: DaemonSet
      name: cilium-envoy
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # cloudnative-pg
  - name: barman-cloud-vpa
    namespace: cnpg-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: barman-cloud
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: cloudnative-pg-vpa
    namespace: cnpg-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: cloudnative-pg
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # descheduler
  - name: descheduler-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: descheduler
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # dex
  - name: dex-vpa
    namespace: dex
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: dex
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # haproxy-onload
  - name: haproxy-onload-vpa
    namespace: haproxy-onload
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: haproxy-onload
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # hetzner-ccm
  - name: hcloud-cloud-controller-manager-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: hcloud-cloud-controller-manager
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # local-path-storage
  - name: local-path-provisioner-vpa
    namespace: local-path-storage
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: local-path-provisioner
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # loki
  # - name: loki-vpa
  #   namespace: loki
  #   targetRef:
  #     apiVersion: apps/v1
  #     kind: Deployment
  #     name: loki
  #   resourcePolicy:
  #     containerPolicies:
  #       - containerName: "*"
  # longhorn
  - name: longhorn-driver-deployer-vpa
    namespace: longhorn-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: longhorn-driver-deployer
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: longhorn-ui-vpa
    namespace: longhorn-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: longhorn-ui
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: longhorn-manager-vpa
    namespace: longhorn-system
    targetRef:
      apiVersion: apps/v1
      kind: DaemonSet
      name: longhorn-manager
    resourcePolicy:
      containerPolicies:
        - containerName: longhorn-manager
        - containerName: pre-pull-share-manager-image
  - name: longhorn-post-upgrade-vpa
    namespace: longhorn-system
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: longhorn-post-upgrade
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: longhorn-pre-upgrade-vpa
    namespace: longhorn-system
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: longhorn-pre-upgrade
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: longhorn-uninstall-vpa
    namespace: longhorn-system
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: longhorn-uninstall
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # metrics-server
  - name: metrics-server-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: metrics-server
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # n8n
  - name: n8n-vpa
    namespace: n8n
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: n8n
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # op-connect
  - name: onepassword-connect-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: onepassword-connect
    resourcePolicy:
      containerPolicies:
        - containerName: connect-api
        - containerName: connect-sync
  - name: onepassword-connect-operator-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: onepassword-connect-operator
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # robusta
  - name: robusta-forwarder-vpa
    namespace: robusta
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: robusta-forwarder
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: robusta-holmes-vpa
    namespace: robusta
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: robusta-holmes
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: robusta-runner-vpa
    namespace: robusta
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: robusta-runner
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # talos-ccm
  - name: talos-cloud-controller-manager-vpa
    namespace: kube-system
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: talos-cloud-controller-manager
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  # victorialogs
  - name: vl-victoria-logs-single-server-vpa
    namespace: victorialogs
    targetRef:
      apiVersion: apps/v1
      kind: StatefulSet
      name: vl-victoria-logs-single-server
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vl-vector-vpa
    namespace: victorialogs
    targetRef:
      apiVersion: apps/v1
      kind: DaemonSet
      name: vl-vector
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # victoriametrics
  - name: vm-grafana-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: vm-grafana
    resourcePolicy:
      containerPolicies:
        - containerName: grafana-sc-dashboard
        - containerName: grafana
  - name: vm-kube-state-metrics-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: vm-kube-state-metrics
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vmalertmanager-vm-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: StatefulSet
      name: vmalertmanager-vm
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vmagent-vm-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: vmagent-vm
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vmalert-vm-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: vmalert-vm
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vmsingle-vm-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: vmsingle-vm
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vm-victoria-metrics-operator-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: vm-victoria-metrics-operator
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vm-prometheus-node-exporter-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: apps/v1
      kind: DaemonSet
      name: vm-prometheus-node-exporter
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: vm-victoria-metrics-operator-cleanup-hook-vpa
    namespace: victoriametrics
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: vm-victoria-metrics-operator-cleanup-hook
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # victoriatraces
  - name: vt-vt-single-server-vpa
    namespace: victoriatraces
    targetRef:
      apiVersion: apps/v1
      kind: StatefulSet
      name: vt-vt-single-server
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # mastodon (microblog.network)
  - name: mastodon-web-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-web
    resourcePolicy:
      containerPolicies:
        - containerName: web
          controlledValues: RequestsOnly
        - containerName: prometheus-exporter
  - name: mastodon-streaming-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-streaming
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-sidekiq-generic-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-sidekiq-generic
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  - name: mastodon-sidekiq-scheduler-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-sidekiq-scheduler
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  - name: mastodon-cleanup-unused-media-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: batch/v1
      kind: CronJob
      name: mastodon-cleanup-unused-media
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          minAllowed:
            memory: 2Gi
  - name: mastodon-cleanup-unused-media-profiles-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: batch/v1
      kind: CronJob
      name: mastodon-cleanup-unused-media-profiles
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          minAllowed:
            memory: 2Gi
  - name: mastodon-remove-preview-cards-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: batch/v1
      kind: CronJob
      name: mastodon-remove-preview-cards
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-db-migrate-post-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: mastodon-db-migrate-post
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-db-migrate-pre-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: mastodon-db-migrate-pre
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # mastodon (toot.community)
  - name: mastodon-web-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-web
    resourcePolicy:
      containerPolicies:
        - containerName: web
          controlledValues: RequestsOnly
        - containerName: prometheus-exporter
  - name: mastodon-streaming-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-streaming
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-sidekiq-default-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-sidekiq-default
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  - name: mastodon-sidekiq-federation-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-sidekiq-federation
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  - name: mastodon-sidekiq-pull-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-sidekiq-pull
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  - name: mastodon-sidekiq-mailers-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-sidekiq-mailers
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  - name: mastodon-sidekiq-scheduler-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: mastodon-sidekiq-scheduler
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
          controlledValues: RequestsOnly
  - name: mastodon-cleanup-unused-media-vpa
    namespace: toot-community
    targetRef:
      apiVersion: batch/v1
      kind: CronJob
      name: mastodon-cleanup-unused-media
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-cleanup-unused-media-profiles-vpa
    namespace: toot-community
    targetRef:
      apiVersion: batch/v1
      kind: CronJob
      name: mastodon-cleanup-unused-media-profiles
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-remove-preview-cards-vpa
    namespace: toot-community
    targetRef:
      apiVersion: batch/v1
      kind: CronJob
      name: mastodon-remove-preview-cards
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-db-migrate-post-vpa
    namespace: toot-community
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: mastodon-db-migrate-post
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: mastodon-db-migrate-pre-vpa
    namespace: toot-community
    targetRef:
      apiVersion: batch/v1
      kind: Job
      name: mastodon-db-migrate-pre
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # varnish (microblog.network)
  - name: varnish-for-app-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: varnish-for-app
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: varnish-for-static-vpa
    namespace: microblog-network
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: varnish-for-static
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  # varnish (toot.community)
  - name: varnish-for-app-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: varnish-for-app
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
  - name: varnish-for-static-vpa
    namespace: toot-community
    targetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: varnish-for-static
    resourcePolicy:
      containerPolicies:
        - containerName: "*"
